.close-button {
    background-color: #424242;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px; /* Add margin-top for spacing */
  }
  
  .close-button:hover {
    background-color: #282828;
  }
